.list-password-container{
    list-style-type: none;
}
.password-list-container{
    width:100px;
    height:40px;
    border-width: 2px;
    border-radius: 10px;
}
.initial{
    background-color: blueviolet;
    color: white;
    width:48px;
    height:48px;
    border-radius: 24px;
}
.website{
    color:white;
    font-size: 22px;
}
.username{
    color:white;
    font-size: 20px;
}
.password{
    color: white;
    font-size: 16px;
}
.delete{
    width: 10px;
    height:10px;
}